    h1 {
    text-align: center;
    }
    h1.especial{
        color: red;
    }
    p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    }
    p>img{
        border: 1px solid red;
        height: 200;
        width: 200px;
    }
    legend{
        border: 1px solid black;
    }

