table{
    border: 1px solid darkblue;
}
.cabecera{
    background-color: darkblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.cuerpo{
    background-color: gray;
    color:darkblue ;
    font-size: 12px;
    text-justify: auto;
}

.pie{

}
